Audience validation in JwtAccessToken

While we're on the topic of audience validation: I no longer think the approach in `JwtAccessToken` makes that much sense. Yes, the `aud` claim is optional, but, given that `validate_extern` requires the caller to pass a `client_id`, it shouldn't silently skip the validation if the token does not contain an `aud` claim.

`validate_extern` should require a valid `aud` claim if a `client_id` is passed. If the caller wishes to make this validation optional, either `client_id=None` or something like `skip_aud_validation: bool` must be used.

Edited to add this link to the prior discussion: #38

So according to the specification ([RFC9068](https://www.rfc-editor.org/rfc/rfc9068#section-2.2-2.6)), the `aud` claim is actually required but I do remember some identity providers issuing non spec-compliant tokens which is why I marked those fields as optional.

Now in my opinion this is an issue of balancing it. We could either be fully spec compliant in which case your suggestion makes sense or we disallow some JWTAccessTokens which are otherwise valid. In the later case, a user would have to make an additional round-trip to a token-introspection endpoint of their identity provider.

I'll try and figure out which identity provider it was that issued non spec-compliant tokens and get back to you once I have.
If, by some miracle, they have fixed their tokens by now (it has been some time), I'm all for bringing our implementation up to spec :)

You're right, only [RFC7519](https://www.rfc-editor.org/rfc/rfc7519#section-4.1.3) (the original JWT RFC) describes the `aud` claim as optional. [RFC9068](https://www.rfc-editor.org/rfc/rfc9068#section-2.2-2.6) (JWT for OAuth 2.0) describes it as required. Additionally, [RFC 8725](https://www.rfc-editor.org/rfc/rfc8725#section-3.9) (JWT Best Practices) states the `aud` claim must be used if tokens may be issued for more than one principal. These refinements / revisions should be added to the docstring.

I think it's fine to allow deviations from the spec if the user has to explicitly request them and they're not a burden on maintenance or development.

In any case, it's still an incredibly minor issue if you trust your IdP to comply with the spec, so I'm not particularly invested in this. Though, if you'd like me to implement this change, I'm happy to help.

@timhallmann so if i'm not mistaken, the `client_id` and `azp` claims store the same information as who the token was originally issued to / who requested the token.

In that case I'm thinking about just adding a deserialization alias to decode `azp` into `client_id`. That way we could support these IdPs while  staying as spec compliant as possiblr.